In [1]:
import pandas as pd
import os

In [16]:
#initializes working df
master_df = pd.read_pickle('P2pickles/1-2003df.pkl')
master_df['year'] = 2003
master_df.tail()

,minutes_played,fg,fga,fg_pct,fg3,fg3a,3_pct,ft,fta,ft_pct,or,dr,tot_r,asst,steals,blocks,turnovers,fouls,points,year
"Johnson,Anthony",17.0,4,5,0.800,1,2,0.5,2,2,0.0,0,1,1,1,0,0,2,3,11,2003
"Kittles,Kerry",15.0,3,6,0.500,0,0,0.0,0,0,0.0,0,3,3,0,0,0,0,1,6,2003
"Slay,Tamar",12.0,2,5,0.400,0,0,0.0,2,2,0.0,1,3,4,1,0,0,1,0,6,2003
"Scalabrine,Brian",8.0,2,4,0.500,0,0,0.0,0,0,0.0,1,1,2,2,1,0,0,2,4,2003
"Childs,Chris",8.0,1,3,0.333,0,1,0.0,0,0,0.0,0,1,1,2,1,0,0,2,2,2003

In [17]:
#finding files
files = os.listdir('P2pickles')
pickles = []
for file in files:
    if 'pkl' in file:
        pickles.append(file)

In [18]:
#Reads in all pickled dataframe files from scraper

path = 'P2pickles/'
for file in pickles:
    #print(path+file)
    df = pd.read_pickle(path+file)
    df['year'] = int(file[2:6])
    #print(df.describe())
    master_df = master_df.append(df, sort=False)
master_df.head()

,minutes_played,fg,fga,fg_pct,fg3,fg3a,3_pct,ft,fta,ft_pct,or,dr,tot_r,asst,steals,blocks,turnovers,fouls,points,year
westde01,-0.016667,-1,-1,0.0,-1,-1,0.0,-1,-1,0.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,2003
jamesle01,-0.016667,-1,-1,0.0,-1,-1,0.0,-1,-1,0.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,2003
willima01,-0.016667,-1,-1,0.0,-1,-1,0.0,-1,-1,0.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,2003
ilgauzy01,-0.016667,-1,-1,0.0,-1,-1,0.0,-1,-1,0.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,2003
varejan01,-0.016667,-1,-1,0.0,-1,-1,0.0,-1,-1,0.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,2003

In [19]:
master_df

,minutes_played,fg,fga,fg_pct,fg3,fg3a,3_pct,ft,fta,ft_pct,or,dr,tot_r,asst,steals,blocks,turnovers,fouls,points,year
westde01,-0.016667,-1,-1,0.000,-1,-1,0.000,-1,-1,0.000,-1,-1,-1,-1,-1,-1,-1,-1,-1,2003
jamesle01,-0.016667,-1,-1,0.000,-1,-1,0.000,-1,-1,0.000,-1,-1,-1,-1,-1,-1,-1,-1,-1,2003
willima01,-0.016667,-1,-1,0.000,-1,-1,0.000,-1,-1,0.000,-1,-1,-1,-1,-1,-1,-1,-1,-1,2003
ilgauzy01,-0.016667,-1,-1,0.000,-1,-1,0.000,-1,-1,0.000,-1,-1,-1,-1,-1,-1,-1,-1,-1,2003
varejan01,-0.016667,-1,-1,0.000,-1,-1,0.000,-1,-1,0.000,-1,-1,-1,-1,-1,-1,-1,-1,-1,2003
pavloal01,-0.016667,-1,-1,0.000,-1,-1,0.000,-1,-1,0.000,-1,-1,-1,-1,-1,-1,-1,-1,-1,2003
smithjo02,-0.016667,-1,-1,0.000,-1,-1,0.000,-1,-1,0.000,-1,-1,-1,-1,-1,-1,-1,-1,-1,2003
wallabe01,-0.016667,-1,-1,0.000,-1,-1,0.000,-1,-1,0.000,-1,-1,-1,-1,-1,-1,-1,-1,-1,2003
gibsoda01,-0.016667,-1,-1,0.000,-1,-1,0.000,-1,-1,0.000,-1,-1,-1,-1,-1,-1,-1,-1,-1,2003
kinseta01,-0.016667,-1,-1,0.000,-1,-1,0.000,-1,-1,0.000,-1,-1,-1,-1,-1,-1,-1,-1,-1,2003
turkohe01,-0.016667,-1,-1,0.000,-1,-1,0.000,-1,-1,0.000,-1,-1,-1,-1,-1,-1,-1,-1,-1,2003
lewisra02,-0.016667,-1,-1,0.000,-1,-1,0.000,-1,-1,0.000,-1,-1,-1,-1,-1,-1,-1,-1,-1,2003
leeco01,-0.016667,-1,-1,0.000,-1,-1,0.000,-1,-1,0.000,-1,-1,-1,-1,-1,-1,-1,-1,-1,2003
alstora01,-0.016667,-1,-1,0.000,-1,-1,0.000,-1,-1,0.000,-1,-1,-1,-1,-1,-1,-1,-1,-1,2003
howardw01,-0.016667,-1,-1,0.000,-1,-1,0.000,-1,-1,0.000,-1,-1,-1,-1,-1,-1,-1,-1,-1,2003
pietrmi01,-0.016667,-1,-1,0.000,-1,-1,0.000,-1,-1,0.000,-1,-1,-1,-1,-1,-1,-1,-1,-1,2003
gortama01,-0.016667,-1,-1,0.000,-1,-1,0.000,-1,-1,0.000,-1,-1,-1,-1,-1,-1,-1,-1,-1,2003
johnsan02,-0.016667,-1,-1,0.000,-1,-1,0.000,-1,-1,0.000,-1,-1,-1,-1,-1,-1,-1,-1,-1,2003
battito01,-0.016667,-1,-1,0.000,-1,-1,0.000,-1,-1,0.000,-1,-1,-1,-1,-1,-1,-1,-1,-1,2003
"Jones,Eddie",37.000000,5,14,0.357,3,4,0.750,7,8,0.875,0,3,3,2,2,0,1,2,20,2003
"Butler,Caron",32.000000,10,15,0.667,2,2,0.000,3,4,0.750,1,1,2,3,4,0,0,3,25,2003
"Allen,Malik",30.000000,3,9,0.333,0,0,0.000,2,2,0.000,2,4,6,1,0,1,2,3,8,2003
"Grant,Brian",29.000000,3,4,0.750,0,0,0.000,1,2,0.500,2,4,6,0,2,0,0,3,7,2003
"Best,Travis",2.000000,0,1,0.000,0,0,0.000,0,0,0.000,0,0,0,1,0,0,0,0,0,2003
"James,Mike",35.000000,4,12,0.333,0,2,0.000,2,2,0.000,0,3,3,3,3,0,1,1,10,2003
"Stepania,Vladimir",27.000000,6,7,0.857,0,0,0.000,4,6,0.667,3,10,13,2,4,1,2,1,16,2003
"Carter,Anthony",23.000000,3,5,0.600,0,0,0.000,2,2,0.000,0,3,3,8,3,0,5,1,8,2003
"Butler,Rasual",13.000000,1,4,0.250,1,1,0.000,8,10,0.800,0,0,0,0,0,1,0,1,11,2003
"Marks,Sean",6.000000,1,2,0.500,0,0,0.000,0,0,0.000,1,1,2,0,0,0,1,3,2,2003
"Lampley,Sean",6.000000,0,1,0.000,0,0,0.000,0,0,0.000,0,1,1,1,0,0,0,1,0,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Felton,Raymond",32.933333,4,14,0.286,1,5,0.200,0,0,0.000,2,5,7,6,2,1,2,3,9,2010
"Wallace,Gerald",30.833333,6,12,0.500,0,1,0.000,6,8,0.750,3,7,10,2,0,5,3,4,18,2010
"Ratliff,Theo",18.383333,4,6,0.667,0,0,0.000,3,3,0.000,3,2,5,0,0,1,2,1,11,2010
"Augustin,D.J.",28.166667,7,10,0.700,3,4,0.750,2,3,0.667,0,3,3,3,0,1,3,2,19,2010
"Thomas,Tyrus",18.333333,2,8,0.250,0,0,0.000,1,2,0.500,2,3,5,3,0,0,1,5,5,2010
"Graham,Stephen",14.750000,4,5,0.800,0,1,0.000,0,0,0.000,1,2,3,0,0,1,1,1,8,2010
"Henderson,Gerald",10.533333,1,4,0.250,0,1,0.000,1,2,0.500,2,1,3,0,2,0,1,1,3,2010
"Chandler,Tyson",7.300000,1,2,0.500,0,0,0.000,0,0,0.000,2,2,4,0,0,1,0,0,2,2010
"Brown,Derrick",2.433333,0,0,0.000,0,0,0.000,0,0,0.000,0,2,2,0,0,0,0,0,0,2010
"Blatche,Andray",42.950000,10,20,0.500,0,0,0.000,3,3,0.000,0,9,9,1,1,1,4,5,23,2010
"Thornton,Al",42.050000,10,17,0.588,1,2,0.500,3,5,0.600,2,9,11,2,3,0,4,4,24,2010
"Miller,Mike",40.700000,3,7,0.429,0,2,0.000,2,3,0.667,1,7,8,2,0,0,1,1,8,2010
"Foye,Randy",35.433333,3,14,0.214,0,5,0.000,3,3,0.000,0,2,2,8,2,0,3,3,9,2010
"McGee,JaVale",30.833333,2,3,0.667,0,0,0.000,9,10,0.900,1,0,1,0,1,5,3,2,13,2010
"Singleton,James",21.583333,2,3,0.667,0,0,0.000,0,0,0.000,1,2,3,0,1,2,1,3,4,2010
"Boykins,Earl",12.666667,1,2,0.500,0,1,0.000,0,0,0.000,1,0,1,0,0,0,1,0,2,2010
"Ross,Quinton",10.616667,0,1,0.000,0,0,0.000,0,0,0.000,0,1,1,0,0,0,0,0,0,2010
"Young,Nick",2.783333,0,1,0.000,0,1,0.000,0,0,0.000,0,0,0,0,0,0,0,0,0,2010
"Oberto,Fabricio",0.400000,0,0,0.000,0,0,0.000,0,0,0.000,0,0,0,0,0,0,0,0,0,2010
"Rondo,Rajon",36.933333,6,12,0.500,1,1,0.000,2,3,0.667,0,4,4,7,1,0,4,3,15,2010
"Allen,Ray",34.916667,10,15,0.667,4,6,0.667,1,1,0.000,0,2,2,1,1,0,0,3,25,2010
"Garnett,Kevin",30.883333,0,7,0.000,0,0,0.000,8,10,0.800,0,10,10,3,1,0,4,0,8,2010
"Perkins,Kendrick",30.150000,5,7,0.714,0,0,0.000,2,2,0.000,2,5,7,2,0,0,0,2,12,2010
"Pierce,Paul",29.116667,6,11,0.545,0,2,0.000,5,6,0.833,0,2,2,1,2,0,3,5,17,2010
"Daniels,Marquis",23.600000,1,4,0.250,0,0,0.000,0,0,0.000,0,0,0,0,1,0,2,2,2,2010
"Wallace,Rasheed",17.616667,1,6,0.167,0,2,0.000,2,2,0.000,0,3,3,1,0,1,0,3,4,2010
"Davis,Glen",17.033333,1,7,0.143,0,0,0.000,1,2,0.500,6,2,8,0,2,0,1,2,3,2010
"Robinson,Nate",14.000000,0,3,0.000,0,1,0.000,0,0,0.000,0,0,0,0,1,0,2,1,0,2010
"Scalabrine,Brian",3.483333,0,0,0.000,0,0,0.000,0,0,0.000,0,1,1,0,0,0,0,0,0,2010
"Allen,Tony",2.300000,0,1,0.000,0,0,0.000,0,0,0.000,0,0,0,0,0,0,0,0,0,2010

## Cleaning and Feature Engineering on new Master Dataframe
Here, we will be removing all of the faulty data that was collected by the scraper and normalizing the rest. Normalization has to occur so that the trend between playing time and statistics can be seen.  If a player has a low playing time, it makes sense that they will have low statistics otherwise, so we will draw inference from the rates of their statistics rather than the raw values.

In [20]:
df = master_df
#Clearing off poor values
df = df[df.fg!=-1]
df.sample(20)

,minutes_played,fg,fga,fg_pct,fg3,fg3a,3_pct,ft,fta,ft_pct,or,dr,tot_r,asst,steals,blocks,turnovers,fouls,points,year
"Sweetney,Mike",17.133333,5,8,0.625,0,0,0.000,4,6,0.667,3,3,6,0,0,1,2,1,14,2006
"Ratliff,Theo",18.383333,4,6,0.667,0,0,0.000,3,3,0.000,3,2,5,0,0,1,2,1,11,2010
"Bremer,J.R.",26.000000,3,10,0.300,3,8,0.375,0,0,0.000,1,7,8,4,1,0,0,0,9,2003
"Smith,Josh",34.416667,3,7,0.429,0,1,0.000,2,2,0.000,2,4,6,2,0,2,2,5,8,2006
"Jackson,Mark",25.000000,3,9,0.333,0,3,0.000,1,1,0.000,0,2,2,7,1,0,1,1,7,2000
"Ratliff,Theo",39.000000,10,16,0.625,0,0,0.000,6,7,0.857,3,6,9,0,2,4,1,3,26,2000
"Smith,J.R.",28.200000,1,4,0.250,1,2,0.500,0,0,0.000,0,0,0,0,0,0,2,1,3,2017
"Boykins,Earl",7.000000,0,2,0.000,0,0,0.000,0,0,0.000,0,0,0,1,0,0,0,1,0,2000
"Hornacek,Jeff",25.000000,2,9,0.222,0,2,0.000,4,4,0.000,1,1,2,5,1,0,1,2,8,2000
"Chandler,Tyson",7.300000,1,2,0.500,0,0,0.000,0,0,0.000,2,2,4,0,0,1,0,0,2,2010
"Mutombo,Dikembe",41.000000,3,6,0.500,0,0,0.000,4,6,0.667,3,14,17,3,0,4,2,5,10,2000
"Hinrich,Kirk",37.916667,1,7,0.143,1,3,0.333,0,0,0.000,0,4,4,2,1,0,2,4,3,2006
"Robinson,Clifford",36.000000,7,15,0.467,0,4,0.000,1,4,0.250,0,1,1,3,1,0,3,3,15,2003
"Russell,Bryon",16.000000,0,0,0.000,0,0,0.000,0,0,0.000,0,1,1,2,0,0,2,2,0,2003
"Cabarkapa,Zarko",0.800000,0,0,0.000,0,0,0.000,0,0,0.000,0,0,0,0,0,0,0,0,0,2006
"Stiemsma,Greg",8.016667,0,0,0.000,0,0,0.000,0,0,0.000,0,3,3,0,0,1,0,0,0,2012
"Dudley,Chris",1.000000,0,0,0.000,0,0,0.000,0,0,0.000,0,0,0,0,0,0,0,0,0,2000
"Bibby,Mike",22.100000,5,8,0.625,4,7,0.571,0,0,0.000,0,1,1,0,4,0,1,0,14,2011
"Harper,Ron",26.000000,1,7,0.143,0,0,0.000,2,2,0.000,3,2,5,2,2,2,0,2,4,2000
"Ginobili,Manu",41.316667,7,15,0.467,3,6,0.500,3,4,0.750,1,5,6,4,0,1,5,5,20,2008

In [21]:

#Converting Statistics into Rates
df['fg_per_mp'] = df.fg/df.minutes_played
df['fga_per_mp'] = df.fga/df.minutes_played
df['fg3_per_mp'] = df.fg3/df.minutes_played
df['fg3a_per_mp'] = df.fg3a/df.minutes_played
df['ft_per_mp'] = df.ft/df.minutes_played
df['fta_per_mp'] = df.fta/df.minutes_played
df['or_per_mp'] = df['or']/df.minutes_played
df['dr_per_mp'] = df.dr/df.minutes_played
df['tot_r_per_mp'] = df.tot_r/df.minutes_played
df['asst_per_mp'] = df.asst/df.minutes_played
df['steals_per_mp'] = df.steals/df.minutes_played
df['blocks_per_mp'] = df['blocks']/df.minutes_played
df['turnovers_per_mp'] = df.turnovers/df.minutes_played
df['fouls_per_mp'] = df.fouls/df.minutes_played
df['points_per_mp'] = df.points/df.minutes_played
df['2s_per_mp']=df.fg_per_mp-df.fg3_per_mp

df.head()

/Users/aaronfrederick/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/aaronfrederick/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/aaronfrederick/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/aaronfrederick/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/aaronfrederick/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/Users/aaronfrederick/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/aaronfrederick/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/aaronfrederick/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/aaronfrederick/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/aaronfrederick/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/Users/aaronfrederick/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/Users/aaronfrederick/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/aaronfrederick/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/aaronfrederick/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/aaronfrederick/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/aaronfrederick/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,minutes_played,fg,fga,fg_pct,fg3,fg3a,3_pct,ft,fta,ft_pct,...,or_per_mp,dr_per_mp,tot_r_per_mp,asst_per_mp,steals_per_mp,blocks_per_mp,turnovers_per_mp,fouls_per_mp,points_per_mp,2s_per_mp
"Jones,Eddie",37.0,5,14,0.357,3,4,0.75,7,8,0.875,...,0.000000,0.081081,0.081081,0.054054,0.054054,0.000000,0.027027,0.054054,0.540541,0.054054
"Butler,Caron",32.0,10,15,0.667,2,2,0.00,3,4,0.750,...,0.031250,0.031250,0.062500,0.093750,0.125000,0.000000,0.000000,0.093750,0.781250,0.250000
"Allen,Malik",30.0,3,9,0.333,0,0,0.00,2,2,0.000,...,0.066667,0.133333,0.200000,0.033333,0.000000,0.033333,0.066667,0.100000,0.266667,0.100000
"Grant,Brian",29.0,3,4,0.750,0,0,0.00,1,2,0.500,...,0.068966,0.137931,0.206897,0.000000,0.068966,0.000000,0.000000,0.103448,0.241379,0.103448
"Best,Travis",2.0,0,1,0.000,0,0,0.00,0,0,0.000,...,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [22]:
df = df[['minutes_played', 'fg_pct', '3_pct', 'ft_pct', 'fg_per_mp', 'fga_per_mp', 'fg3_per_mp', 'fg3a_per_mp', 
  'ft_per_mp', 'fta_per_mp', 'or_per_mp', 'dr_per_mp', 'tot_r_per_mp', 'asst_per_mp', 'steals_per_mp',
  'blocks_per_mp', 'turnovers_per_mp', 'fouls_per_mp', 'points_per_mp', '2s_per_mp','year']]

In [23]:
df.describe()

,minutes_played,fg_pct,3_pct,ft_pct,fg_per_mp,fga_per_mp,fg3_per_mp,fg3a_per_mp,ft_per_mp,fta_per_mp,...,dr_per_mp,tot_r_per_mp,asst_per_mp,steals_per_mp,blocks_per_mp,turnovers_per_mp,fouls_per_mp,points_per_mp,2s_per_mp,year
count,9678.000000,9678.000000,9678.000000,9678.000000,9678.000000,9678.000000,9678.000000,9678.000000,9678.000000,9678.000000,...,9678.000000,9678.000000,9678.000000,9678.000000,9678.000000,9678.000000,9678.000000,9678.000000,9678.000000,9678.000000
mean,23.629998,0.356054,0.126500,0.200737,0.132929,0.314650,0.024915,0.073617,0.068836,0.092926,...,0.125183,0.172712,0.079697,0.030395,0.019744,0.056789,0.106853,0.359609,0.108014,2008.280120
std,12.450294,0.232994,0.214042,0.308157,0.105971,0.235503,0.054057,0.114940,0.130502,0.154885,...,0.114128,0.149351,0.105866,0.113325,0.045364,0.105314,0.143405,0.280821,0.096712,5.618026
min,0.016667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2000.000000
25%,13.870833,0.200000,0.000000,0.000000,0.059754,0.200955,0.000000,0.000000,0.000000,0.000000,...,0.050000,0.074089,0.000000,0.000000,0.000000,0.000000,0.040000,0.179138,0.034642,2003.000000
50%,24.000000,0.400000,0.000000,0.000000,0.126582,0.303638,0.000000,0.040000,0.037037,0.061053,...,0.106793,0.147783,0.057143,0.000000,0.000000,0.041667,0.084181,0.337719,0.097680,2009.000000
75%,34.000000,0.500000,0.250000,0.500000,0.190476,0.414634,0.038462,0.121212,0.107768,0.142857,...,0.177765,0.243367,0.120000,0.047619,0.027829,0.083333,0.138616,0.505145,0.161204,2014.000000
max,54.000000,0.917000,0.857000,0.944000,1.875000,15.000000,1.463415,5.454545,6.315789,6.315789,...,2.000000,2.068966,5.000000,10.000000,1.621622,7.500000,7.500000,6.315789,1.875000,2017.000000

In [24]:
df.sample(20)

,minutes_played,fg_pct,3_pct,ft_pct,fg_per_mp,fga_per_mp,fg3_per_mp,fg3a_per_mp,ft_per_mp,fta_per_mp,...,dr_per_mp,tot_r_per_mp,asst_per_mp,steals_per_mp,blocks_per_mp,turnovers_per_mp,fouls_per_mp,points_per_mp,2s_per_mp,year
"McInnis,Jeff",28.750000,0.200,0.000,0.000,0.034783,0.173913,0.000000,0.000000,0.000000,0.000000,...,0.034783,0.069565,0.034783,0.000000,0.000000,0.069565,0.034783,0.069565,0.034783,2008
"Miller,Andre",10.550000,0.000,0.000,0.000,0.094787,0.094787,0.000000,0.000000,0.000000,0.000000,...,0.189573,0.189573,0.000000,0.000000,0.000000,0.094787,0.094787,0.189573,0.094787,2014
"Bass,Brandon",16.766667,0.333,0.000,0.000,0.059642,0.178926,0.000000,0.000000,0.119284,0.119284,...,0.178926,0.238569,0.059642,0.000000,0.000000,0.059642,0.298211,0.238569,0.059642,2012
"Kittles,Kerry",27.000000,0.400,0.500,0.600,0.074074,0.185185,0.037037,0.074074,0.111111,0.185185,...,0.074074,0.074074,0.074074,0.037037,0.000000,0.037037,0.000000,0.296296,0.037037,2003
"Delfino,Carlos",21.616667,0.125,0.250,0.000,0.046261,0.370085,0.046261,0.185042,0.000000,0.000000,...,0.000000,0.000000,0.046261,0.000000,0.000000,0.092521,0.138782,0.138782,0.000000,2010
"Ezeli,Festus",10.750000,0.000,0.000,0.000,0.000000,0.372093,0.000000,0.000000,0.000000,0.000000,...,0.093023,0.093023,0.093023,0.000000,0.000000,0.000000,0.186047,0.000000,0.000000,2017
"Grundy,Anthony",4.866667,0.500,0.000,0.000,0.410959,0.821918,0.410959,0.410959,0.000000,0.000000,...,0.205479,0.205479,0.000000,0.000000,0.000000,0.205479,0.000000,1.232877,0.000000,2006
"Dupree,Ronald",10.700000,0.500,0.000,0.000,0.093458,0.186916,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.093458,0.000000,0.000000,0.000000,0.280374,0.186916,0.093458,2006
"Stuckey,Rodney",21.733333,0.250,0.000,0.000,0.092025,0.368098,0.046012,0.046012,0.092025,0.092025,...,0.138037,0.230061,0.184049,0.046012,0.000000,0.092025,0.138037,0.322086,0.046012,2008
"Bynum,Will",14.850000,0.000,0.000,0.000,0.134680,0.134680,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.067340,0.000000,0.000000,0.000000,0.067340,0.269360,0.134680,2010
"Collins,Jason",24.516667,0.000,0.000,0.500,0.081577,0.081577,0.000000,0.000000,0.040789,0.081577,...,0.163154,0.203943,0.000000,0.000000,0.000000,0.000000,0.203943,0.203943,0.081577,2006
"Bradley,Avery",34.133333,0.563,0.857,0.500,0.263672,0.468750,0.175781,0.205078,0.029297,0.058594,...,0.058594,0.087891,0.087891,0.000000,0.000000,0.029297,0.000000,0.732422,0.087891,2016
"Sabonis,Arvydas",12.000000,0.833,0.000,0.500,0.416667,0.500000,0.000000,0.000000,0.083333,0.166667,...,0.166667,0.166667,0.083333,0.000000,0.083333,0.166667,0.250000,0.916667,0.416667,2003
"Horford,Al",34.916667,0.545,0.000,0.667,0.171838,0.315036,0.000000,0.000000,0.057279,0.085919,...,0.286396,0.343675,0.000000,0.000000,0.000000,0.057279,0.028640,0.400955,0.171838,2008
"Brand,Elton",20.183333,0.667,0.000,0.000,0.099092,0.148637,0.000000,0.000000,0.000000,0.000000,...,0.297275,0.346821,0.000000,0.049546,0.099092,0.049546,0.148637,0.198183,0.099092,2014
"Collison,Nick",13.216667,0.333,0.000,0.000,0.075662,0.226986,0.000000,0.000000,0.000000,0.151324,...,0.075662,0.151324,0.000000,0.075662,0.000000,0.000000,0.302648,0.151324,0.075662,2012
"Robinson,Glenn",10.383333,0.500,0.000,0.000,0.096308,0.192616,0.000000,0.000000,0.000000,0.000000,...,0.096308,0.192616,0.000000,0.000000,0.000000,0.000000,0.000000,0.192616,0.096308,2016
"Fisher,Derek",28.133333,0.375,0.000,0.000,0.106635,0.284360,0.000000,0.000000,0.106635,0.106635,...,0.106635,0.106635,0.106635,0.035545,0.000000,0.000000,0.106635,0.319905,0.106635,2010
"Gilliam,Armen",5.000000,0.000,0.000,0.000,0.000000,0.400000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.200000,0.200000,0.000000,0.000000,0.000000,2000
"Anderson,Kenny",15.000000,0.200,0.000,0.000,0.066667,0.333333,0.000000,0.000000,0.066667,0.066667,...,0.066667,0.066667,0.466667,0.200000,0.000000,0.066667,0.400000,0.200000,0.066667,2000

In [25]:
df.to_pickle('master_df.pkl')

## Cells after this are for after the initial dataframe has been constructed
The following are for reading and operating on 'master_df.pkl'

In [7]:
pt_df = pd.read_pickle('master_df.pkl')
pt_df['name'] = pt_df.index
pt_df.head()

,minutes_played,fg_pct,3_pct,ft_pct,fg_per_mp,fga_per_mp,fg3_per_mp,fg3a_per_mp,ft_per_mp,fta_per_mp,...,tot_r_per_mp,asst_per_mp,steals_per_mp,blocks_per_mp,turnovers_per_mp,fouls_per_mp,points_per_mp,2s_per_mp,year,name
"Jones,Eddie",37.0,0.357,0.75,0.875,0.135135,0.378378,0.081081,0.108108,0.189189,0.216216,...,0.081081,0.054054,0.054054,0.000000,0.027027,0.054054,0.540541,0.054054,2003,"Jones,Eddie"
"Butler,Caron",32.0,0.667,0.00,0.750,0.312500,0.468750,0.062500,0.062500,0.093750,0.125000,...,0.062500,0.093750,0.125000,0.000000,0.000000,0.093750,0.781250,0.250000,2003,"Butler,Caron"
"Allen,Malik",30.0,0.333,0.00,0.000,0.100000,0.300000,0.000000,0.000000,0.066667,0.066667,...,0.200000,0.033333,0.000000,0.033333,0.066667,0.100000,0.266667,0.100000,2003,"Allen,Malik"
"Grant,Brian",29.0,0.750,0.00,0.500,0.103448,0.137931,0.000000,0.000000,0.034483,0.068966,...,0.206897,0.000000,0.068966,0.000000,0.000000,0.103448,0.241379,0.103448,2003,"Grant,Brian"
"Best,Travis",2.0,0.000,0.00,0.000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2003,"Best,Travis"

In [11]:
cash_df = pd.DataFrame.from_csv('nba_salaries_1990_to_2018.csv')
cleaned_names = []
for name in cash_df.index:
    try:
        new_name = name.split()[1] +','+name.split()[0]
    except:
        new_name = name
    cleaned_names.append(new_name)
cash_df['name'] = cleaned_names
cash_df.head()

/Users/aaronfrederick/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  """Entry point for launching an IPython kernel.

,salary,season_end,season_start,team,team_name,name
player,,,,,,
Moses Malone,2406000,1991,1990,ATL,Atlanta Hawks,"Malone,Moses"
Dominique Wilkins,2065000,1991,1990,ATL,Atlanta Hawks,"Wilkins,Dominique"
Jon Koncak,1550000,1991,1990,ATL,Atlanta Hawks,"Koncak,Jon"
Doc Rivers,895000,1991,1990,ATL,Atlanta Hawks,"Rivers,Doc"
Rumeal Robinson,800000,1991,1990,ATL,Atlanta Hawks,"Robinson,Rumeal"

In [12]:
cash_df = cash_df[['salary', 'season_end', 'team', 'name']]
cash_df.head()

                    salary  season_end team               name
player
Moses Malone       2406000        1991  ATL       Malone,Moses
Dominique Wilkins  2065000        1991  ATL  Wilkins,Dominique
Jon Koncak         1550000        1991  ATL         Koncak,Jon
Doc Rivers          895000        1991  ATL         Rivers,Doc
Rumeal Robinson     800000        1991  ATL    Robinson,Rumeal

In [16]:
df = pd.merge(pt_df,cash_df, how='left', left_on=['name','year'], right_on=['name','season_end'])
df.describe()

,minutes_played,fg_pct,3_pct,ft_pct,fg_per_mp,fga_per_mp,fg3_per_mp,fg3a_per_mp,ft_per_mp,fta_per_mp,...,asst_per_mp,steals_per_mp,blocks_per_mp,turnovers_per_mp,fouls_per_mp,points_per_mp,2s_per_mp,year,salary,season_end
count,9908.000000,9908.000000,9908.000000,9908.000000,9908.000000,9908.000000,9908.000000,9908.000000,9908.000000,9908.000000,...,9908.000000,9908.000000,9908.000000,9908.000000,9908.000000,9908.000000,9908.000000,9908.000000,8.312000e+03,8312.000000
mean,23.460135,0.353935,0.126506,0.198484,0.132232,0.313878,0.024933,0.073842,0.068845,0.092859,...,0.079836,0.030349,0.019778,0.056779,0.107576,0.358242,0.107299,2008.320347,5.180238e+06,2008.850217
std,12.474060,0.234029,0.214288,0.306978,0.106217,0.234755,0.053965,0.114714,0.131686,0.156033,...,0.105707,0.112248,0.045718,0.104908,0.160916,0.281775,0.096954,5.634642,5.135954e+06,5.534379
min,0.016667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2000.000000,2.853000e+03,2000.000000
25%,13.516667,0.200000,0.000000,0.000000,0.058824,0.200000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.039338,0.176471,0.033213,2003.000000,1.391160e+06,2003.000000
50%,23.783333,0.400000,0.000000,0.000000,0.125567,0.302149,0.000000,0.040445,0.035714,0.060591,...,0.057320,0.000000,0.000000,0.041667,0.084122,0.334962,0.096774,2009.000000,3.300000e+06,2010.000000
75%,33.966667,0.500000,0.250000,0.500000,0.190476,0.414164,0.038462,0.121473,0.107191,0.142518,...,0.120000,0.047619,0.027768,0.083333,0.139252,0.501971,0.160428,2014.000000,7.250000e+06,2014.000000
max,54.000000,0.917000,0.857000,0.944000,1.875000,15.000000,1.463415,5.454545,6.315789,6.315789,...,5.000000,10.000000,1.621622,7.500000,7.500000,6.315789,1.875000,2017.000000,3.096345e+07,2017.000000

In [25]:
df = df.dropna()
df.head()

,minutes_played,fg_pct,3_pct,ft_pct,fg_per_mp,fga_per_mp,fg3_per_mp,fg3a_per_mp,ft_per_mp,fta_per_mp,...,blocks_per_mp,turnovers_per_mp,fouls_per_mp,points_per_mp,2s_per_mp,year,name,salary,season_end,team
0,37.0,0.357,0.75,0.875,0.135135,0.378378,0.081081,0.108108,0.189189,0.216216,...,0.000000,0.027027,0.054054,0.540541,0.054054,2003,"Jones,Eddie",11212500.0,2003.0,MIA
1,32.0,0.667,0.00,0.750,0.312500,0.468750,0.062500,0.062500,0.093750,0.125000,...,0.000000,0.000000,0.093750,0.781250,0.250000,2003,"Butler,Caron",1678800.0,2003.0,MIA
2,30.0,0.333,0.00,0.000,0.100000,0.300000,0.000000,0.000000,0.066667,0.066667,...,0.033333,0.066667,0.100000,0.266667,0.100000,2003,"Allen,Malik",512435.0,2003.0,MIA
3,29.0,0.750,0.00,0.500,0.103448,0.137931,0.000000,0.000000,0.034483,0.068966,...,0.000000,0.000000,0.103448,0.241379,0.103448,2003,"Grant,Brian",11027862.0,2003.0,MIA
4,2.0,0.000,0.00,0.000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,2003,"Best,Travis",1400000.0,2003.0,MIA

In [24]:
df.to_pickle('merged_df.pkl')